@import '_settings';

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

body, input {
  font-family: 'Open Sans', sans-serif;
}

.selection, .filters {
  height: 50vh;
  box-sizing: border-box;
  overflow: hidden;
}

.selection {
  .images {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;

    .img-container {
      position: relative;
      margin-left: $global_padding * 2;

      &:last-child {
        margin-right: $global_padding * 2;
      }

      &.quadratisch.mittel { height: $gallery_height * 1; }
      &.quadratisch.klein { height: $gallery_height * 0.6; }
      &.quadratisch.gross { height: $gallery_height * 1.5; }

      &.hoch.mittel { height: $gallery_height * 1.5; }
      &.hoch.klein { height: $gallery_height * 1; }
      &.hoch.gross { height: $gallery_height * 1.8; }

      &.breit.mittel { height: $gallery_height * 1; }
      &.breit.klein { height: $gallery_height * 0.6; }
      &.breit.gross { height: $gallery_height * 1.5; }

      img {
        height: 100%;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        // padding: $global_padding;
        background-color: $off_black;
        color: $off_white;
        transition: opacity 0.4s ease-in-out;
        opacity: 0;
      }
    }
  }
}

.filters {
  display: flex;
  align-items: stretch;

  .category {
    border: 1px solid red;
    flex: 1;
    display: flex;
    flex-direction: column;

    .head {
      height: 10%;
    }

    .content {
      border: 1px solid green;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .filter {
        border: 1px solid blue;
      }
    }
  }
}

.choice {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 100vh;
  background-color: $off_white;
  transition: top 1s ease 0s;

  .images {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: $global_padding;
    margin-top: $global_padding;
    margin-left: $global_padding;
    margin-right: $global_padding;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
