@import '_settings';

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: $body_background;
}

body, input {
  font-family: 'Open Sans', sans-serif;
}

.selection, .filters {
  box-sizing: border-box;
  overflow: hidden;
}

.selection {
  height: $upper_height;
}

.filters {
  height: $lower_height;
}

.selection {
  .image-scroll {
    color: $off_black;
    position: absolute;
    top: 16vh;
    font-size: 8vh;
    cursor: pointer;
    text-shadow: 0 0 10px $off_white;

    &.scroll-left {
      left: 0;
    }

    &.scroll-right {
      right: 0;
    }
  }

  .images {
    height: 100%;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    overflow-x: scroll;

    .img-container {
      position: relative;
      margin-left: $global_padding * 4;

      &:last-child {
        margin-right: $global_padding * 4;
      }

      &.klein + &.klein { margin-left: $global_padding * 2; }
      &.mittel + &.klein, &.klein + &.mittel { margin-left: $global_padding * 3; }
      &.mittel + &.mittel { margin-left: $global_padding * 4; }
      &.mittel + &.gross, &.gross + &.mittel { margin-left: $global_padding * 5; }
      &.gross + &.gross { margin-left: $global_padding * 6; }

      &.quadratisch.mittel { height: $gallery_height * 1; }
      &.quadratisch.klein { height: $gallery_height * 0.6; }
      &.quadratisch.gross { height: $gallery_height * 1.5; }

      &.hoch.mittel { height: $gallery_height * 1.5; }
      &.hoch.klein { height: $gallery_height * 1; }
      &.hoch.gross { height: $gallery_height * 1.8; }

      &.breit.mittel { height: $gallery_height * 1; }
      &.breit.klein { height: $gallery_height * 0.6; }
      &.breit.gross { height: $gallery_height * 1.5; }

      img {
        height: 100%;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: $global_padding / 2;
        background-color: $off_black;
        color: $off_white;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0.7;

        .title {
          font-weight: 700;
        }

        .remove-preview {
          float: right;
          align-self: flex-end;
          &:after {
            content: '\1F5D1';
          }
        }
      }
    }
  }
}

.filters {
  display: flex;
  margin-left: $filter_col_marginleft;

  .column {
    width: $filter_col_width;
    box-sizing: border-box;
    padding-top: $global_padding;

    &:first-child {
      padding-left: $global_padding;
    }

    .category {
      &:nth-child(2n) {
        margin-top: 24px;
      }

      h3 {
        margin-bottom: 1.5rem;
        font-weight: 400;
      }

      h5 {
        margin: $global_padding * 0.7;
        margin-top: 0;
        margin-left: 0;
        font-size: 1rem;
        font-weight: 400;
      }

      .content {
        padding: $global_padding;
        padding-top: 0;

        .filter {
          display: flex;
          align-items: center;
          margin-bottom: $global_padding * 0.7;
          cursor: pointer;

          .indicator {
            width: 1rem;
            height: 1rem;
            margin-right: 1rem;
            background-color: #DDD;
            display: inline-block;

            &.active {
              background-color: #333;
            }
          }
        }
      }
    }
  }
}

.actions.hud {
  width: calc(100vw / 7);
  left: calc((100vw - (100vw / 7)) / 2);
}

.choice {
  position: absolute;
  height: $lower_height;
  width: 100%;
  top: 100vh;
  background-color: $off_white;
  transition: top 1s ease 0s;
  overflow-y: scroll;

  .goback.hud {
    position: sticky;
    width: calc(100vw / 7);
    left: calc((100vw - (100vw / 7)) / 2);
  }

  .images {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: $global_padding;
    margin: $global_padding;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.fragments {
  display: none;
}
