* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

body, input {
  font-family: 'Open Sans', sans-serif;
}

.selection, .filters {
  height: 50vh;
  box-sizing: border-box;
  overflow: hidden;
}

.filters {
  display: flex;
  align-items: stretch;

  .category {
    border: 1px solid red;
    flex: 1;
    display: flex;
    flex-direction: column;

    .head {
      height: 10%;
    }

    .content {
      border: 1px solid green;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .filter {
        border: 1px solid blue;
      }
    }
  }
}

.choice {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 100vh;
  background-color: lightblue;
  transition: top 1s ease 0s;
}
