@import '_settings';

.menu {
  position: absolute;
  background-color: $menu_background_color;
  color: $menu_font_color;
  width: $menu_width;
  left: 50% - ($menu_width/2);
  top: 0;
  padding-top: $menu_padding;
  padding-bottom: $menu_padding;
  font-size: $menu_font_size;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .item {
    cursor: pointer;
  }
}


.hud {
  position: absolute;
  background-color: $hud_background_color;
  color: $hud_font_color;
  padding: $hud_padding;
  font-size: $hud_font_size;
  box-sizing: border-box;
  max-width: $hud_width;

  &.top {
    top: 0;
    transition: top 0.4s ease-in-out 0s;
  }

  &.bottom {
    bottom: 0;
    transition: bottom 0.4s ease-in-out 0s;
  }

  .line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:first-child) {
      margin-top: $hud_padding / 2;
    }
  }

  input {
    border: none;
    padding: 6px;
    font-size: $hud_font_size;

    &[type=text] {
      width: 50%;
      box-sizing: border-box;
      text-align: right;
    }

    &[type=submit] {
      width: 100%;
      cursor: pointer;

      &:hover {
        background-color: $hud_hover_background;
      }
    }
  }
}

