$off_white: #EFEFEF;
$off_black: #222;

$global_font_size: 1rem;
$global_padding: 24px;

$hud_hover_background: #CCC;
$hud_background_color: $off_black;
$hud_font_color: $off_white;
$hud_font_size: $global_font_size;
$hud_padding: $global_padding;
$hud_width: 10%;

$menu_width: 33.33%;
$menu_font_size: 1.2rem;
$menu_padding: $global_padding;
$menu_background_color: $off_white;
$menu_font_color: $off_black;

$gallery_height: 33.33%;
