$off_white: #EFEFEF;
$off_black: #222;
$light_black: lighten($off_black, 20%);
$middle_grey: #CCC;
$dark_grey: darken($middle_grey, 20%);

$upper_height: 53vh;
$lower_height: 47vh;

$global_font_size: 1rem;
$global_padding: 24px;

$body_background: $dark_grey;
$hud_hover_background: $middle_grey;
$hud_background_color: $light_black;
$hud_font_color: $off_white;
$hud_font_size: $global_font_size;
$hud_padding: $global_padding;
$hud_width: 12.5vw;

$menu_width: 33.33%;
$menu_font_size: $global_font_size;
$menu_padding: $global_padding * 0.5;
$menu_background_color: $off_white;
$menu_font_color: $off_black;

$filter_col_marginleft: calc(100vw/16);
$filter_col_width: calc(100vw/8);

$gallery_height: 50%;
