$off_white: #EFEFEF;
$off_black: #222;
$light_black: lighten($off_black, 20%);
$middle_grey: #CCC;
$dark_grey: darken($middle_grey, 20%);

$upper_height: 53vh;
$lower_height: 47vh;

$button_background_color: $middle_grey;

$global_font_size: 1rem;
$global_padding: 24px;

$body_background: $dark_grey;
$hud_hover_background: $middle_grey;
$hud_background_color: $light_black;
$hud_font_color: $off_white;
$hud_font_size: $global_font_size;
$hud_padding: $global_padding;
$hud_width: 12.5vw;

$menu_width: 33.33%;
$menu_font_size: $global_font_size * 1.2;
$menu_padding: $global_padding * 0.5;
$menu_background_color: $off_white;
$menu_font_color: $off_black;

$filter_col_marginleft: calc(100vw/16);
$filter_col_width: calc(100vw/8);

$gallery_height: 50%;
$gallery_width: 25%;

@mixin image-container {
  .img-container {
    position: relative;
    margin-left: $global_padding * 4;

    &:last-child {
      margin-right: $global_padding * 4;
    }

    &.klein + &.klein { margin-left: $global_padding * 2; }
    &.mittel + &.klein, &.klein + &.mittel { margin-left: $global_padding * 3; }
    &.mittel + &.mittel { margin-left: $global_padding * 4; }
    &.mittel + &.gross, &.gross + &.mittel { margin-left: $global_padding * 5; }
    &.gross + &.gross { margin-left: $global_padding * 6; }

    &.quadratisch.mittel { height: $gallery_height * 1.3; }
    &.quadratisch.klein { height: $gallery_height * 1; }
    &.quadratisch.gross { height: $gallery_height * 1.6; }

    &.hoch.mittel { height: $gallery_height * 1.6; }
    &.hoch.klein { height: $gallery_height * 1.3; }
    &.hoch.gross { height: $gallery_height * 2; }

    &.breit.mittel { height: $gallery_height * 1.3; }
    &.breit.klein { height: $gallery_height * 1; }
    &.breit.gross { height: $gallery_height * 1.6; }

    img {
      height: 100%;
    }

    .overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: $global_padding / 2;
      background-color: $off_black;
      color: $off_white;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      opacity: 0.7;

      .title {
        font-weight: 700;
      }

      .remove-preview {
        float: right;
        align-self: flex-end;
        img {
          width: 30px;
        }
      }
    }
  }
}
