@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@import '_layout';
@import '_settings';
@import '_menu';
@import '_gui';
@import '_wervechselt';

.btn {
  border: none;
  padding: 6px;
  font-size: $hud_font_size;

  width: 100%;
  cursor: pointer;
  background-color: $button_background_color;

  &:hover {
    background-color: $hud_hover_background;
  }
}

input[data-nextpage='0'] {
  display: none;
}

.upside-down {
  transform: rotate(180deg);
}
